[submodule "c_modules/ctcp"]
	path = c_modules/ctcp
	url = git@github.com:opencosmos/ctcp
[submodule "c_modules/cstd"]
	path = c_modules/cstd
	url = git@github.com:opencosmos/cstd
[submodule "c_modules/fixedstr"]
	path = c_modules/fixedstr
	url = git@github.com:opencosmos/fixedstr
[submodule "c_modules/cstruct"]
	path = c_modules/cstruct
	url = git@github.com:opencosmos/cstruct
[submodule "c_modules/resolve"]
	path = c_modules/resolve
	url = git@github.com:opencosmos/resolve
